@{
    ViewData["Title"] = "SelfReflection";
}

<h2>IEX Trading Application</h2>
<h2>Implementation Details</h2>
<hr />

<div>
    <p>
        We have used https://api.iextrading.com/1.0/ref-data/symbols to fetch all the symbols associated with companies or the firms taking part in the trading system.
        Furthermore, https://api.iextrading.com/1.0/stock/market/batch?symbols={0}&types=quote is used to fetch details such as week52High, week52Low, latestPrice and other associated details which are used to calculate the top 5 stocks using below formula.
        <div>
            Deciding factor to pick top 5 otperforming stocks=(CurrentPrice - 52WeekLow)/(52WeekHigh - 52WeekLow).
            If above deciding factor is greater than 82% then we can deduce that the particular stock is outperforming comparatively.
            Else, if its under or equal to 41% we deduce that the associated stock is underperforming comparatively.
        </div>
    </p>
    <h2>Self Reflection</h2>
    <p>
        This assignment helped us learn and apply many concepts to develop a functional stock picking site. We have noted a few learnings below:
        <ul>
            <li>We have applied our learning of HTML, CSS and JavaScript and also built connection with databases using MVC</li>
            <li>We have gained understanding of the typical POCO used to transfer data between different layers of application</li>
            <li>We have gained understanding on IEX trading website and other associated websites </li>
            <li>We gained a strong functional understanding of stocks, trading and associated variables which play a vital role to decide top stocks</li>
            <li>We have explored many possible APIs and websites like websites like moneycontrol and investopedia and deliberated on most efficient stock picking startegy</li>
            <li>We as a team have learnt to build on a simple idea to develop complete, accurate and easy to understand code and extrapolate that to a more complex scenario like stock picking</li>
            <li>We believe this learning will help us in our professional careers and especially during our placement interviews</li>
        </ul>
This assignment was a great opportunity to explore new possibilities in a different domain using. Thank you.
    </p>
</div>
